html {
box-sizing: border-box;
font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

button{
    margin: 0.2em 0.2em 0.2em 0.2em;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.box-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40% 0 0 0;
    font-size: 270%;
    font-weight: 300;
}
.mark:before{
    content: "\00a0";
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-mark {
    width: 15em;
    height: 2.5em;
    border: none;
    border-bottom: 1px solid black;
    margin: 1.4em 0 0.5em 0;
    font-size: 18px;
    font-weight: 400;
}

.buttons{
    margin: 1.7em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.markfive {
    width: 4em;
    height: 4em;
    background-color: white;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid purple;
}
.markfour {
    width: 4em;
    height: 4em;
    background-color: white;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid green;
}
.markthree {
    width: 4em;
    height: 4em;
    background-color: white;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid orange;
}
.marktwo {
    width: 4em;
    height: 4em;
    background-color: white;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid red;
}

.nodes{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accept {
    color: blue;
    width: 8em;
    height: 3em;
    background-color: white;
    border-radius: 30%;
    font-size: 16px;
    border: 1px solid blue;
}
.clear {
    color: blue;
    width: 8em;
    height: 3em;
    background-color: white;
    border-radius: 30%;
    font-size: 16px;
    border: 1px solid blue;
}